<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title> </title>
    <!-- GLOBAL MAINLY STYLES-->
    <link
      href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b4a2e866f3.js"
      crossorigin="anonymous"
    ></script>

    <!-- THEME STYLES-->
    <link href="assets/css/main.css" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES -->
    <link href="./assets/css/pages/auth-light.css" rel="stylesheet" />
  </head>

  <body class="bg-silver-300">
    <div class="content">
      <div class="brand">
        <h1 class="text-info">KhaingMar</h1>
      </div>
      <form
        id="login-form"
        method="post"
        class="needs-validation"
        action="/login"
        novalidate
      >
        <h2 class="login-title">Log in</h2>
        <div class="form-group">
          <div class="input-group-icon right">
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
            <input
              class="form-control <%= errors.email ? 'is-invalid' : '' %>"
              value="<%= data.email || '' %>"
              type="email"
              name="email"
              placeholder="Email"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="text-danger"><%= errors.email || '' %></div>
        <div class="form-group">
          <div class="input-group-icon right">
            <div class="input-icon" id="togglePassword">
              <i class="fa-solid fa-eye-slash"></i>
            </div>
            <input
              class="form-control <%= errors.password ? 'is-invalid' : '' %>"
              value="<%= data.password || '' %>"
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </div>
          <div class="text-danger"><%= errors.password || '' %></div>
        </div>

        <div class="form-group d-flex justify-content-between">
          <label class="ui-checkbox ui-checkbox-info">
            <input type="checkbox" />
            <span class="input-span"></span>Remember me</label
          >
          <a href="#">Forgot password?</a>
        </div>
        <div class="form-group">
          <button class="btn btn-info btn-block" type="submit">Login</button>
        </div>
      </form>
    </div>
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop"></div>
    <div class="preloader-backdrop">
      <div class="page-preloader">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS -->
    <script
      src="./assets/vendors/jquery/dist/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="./assets/vendors/popper.js/dist/umd/popper.min.js"
      type="text/javascript"
    ></script>
    <script
      src="./assets/vendors/bootstrap/dist/js/bootstrap.min.js"
      type="text/javascript"
    ></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script
      src="./assets/vendors/jquery-validation/dist/jquery.validate.min.js"
      type="text/javascript"
    ></script>
    <!-- CORE SCRIPTS-->
    <script src="assets/js/app.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      (function () {
        "use strict";
        var forms = document.querySelectorAll(".needs-validation");

        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>

    <script src="./js/eye.js"></script>
  </body>
</html>
